<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="calc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://websrv.cs.fsu.edu/~engelen/calcserver.cgi"
                binding="basicHttpBinding" bindingConfiguration="calc" contract="CalculatorService.calcPortType"
                name="calc" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
